.column {
    margin: 20px;
   }
   .row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-right:0px;
   }
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
       #editor {
         min-height: 500px;
       }
       #button{
         display: flex;
         float: right;
       }
       .btn{
         margin-right:20px;
       }
   
   .column.quest1{
     display: grid;
     grid-template-rows: 150px 150px 150px 150px;
     margin-left:30px;
   }
   .quest{
     margin-left:20px;
   }
   .quest-content{
     background-color: rgba(0,0,0,0.1);
     padding-left:20px;
   }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: rgb(243, 66, 101);;;
    color: white;
  }
  .wrap textarea{
    width: 40vw;
    resize: none;
    height: 50vh;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 300px;
    caret-color: #4671EA;
    border: 1px solid #bfbfbf;
  }
  textarea::placeholder{
  color: #b3b3b3;
  }
  textarea:is(:focus, :valid){
  padding: 14px;
  border: 2px solid #4671EA;
  }
  textarea::-webkit-scrollbar{
  width: 0px;
  } 