.login-container{
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display:flex;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjKI1Y4CGHU8OawgXSSU2OANsUgzbuWSPG1g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100vw;
    }
    .login-container .form-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        background: rgba(244, 244, 244, 0.1);
        width: 24%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
      }
      
      .form-1 h1 {
        text-align: center;
        margin-top: 0.7rem;
        margin-bottom: 1.5rem;
        font-size: 25px;
        color:rgba(0, 0, 0, 0.6);
      }
      
      .form-1 input[type="email"],
      input[type="password"] {
        border: none;
        outline: none;
        border-bottom: 1px solid;
        background: none;
        margin: 0.9rem 2rem;
        font-size: 1rem;
      }
      
      .form-1 label {
        margin: 0 2rem;
        color:rgb(131, 97, 97);
        font-size: 18px;
      }
      
      .form-1 span {
        margin: 0 2rem;
        color: blue;
        cursor: pointer;
      }
      
      .form-1 button {
        margin: 2rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #fff;
        background: rgb(241, 60, 60)
      }
      .form-1 p {
        text-align: center;
        font-weight: bolder;
      }